<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/static/jquery.js"></script>
  <script src="/static/socket.io.min.js"></script>
  <title>Weather Monitoring and Performance System</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>

  <script src="/static/smoothie.js"></script>
  <script src="/static/main.js"></script>
  <div class="container">
    <div class="row align-items-start">
      <div class="card" style="width: 303rem;">
        <h3 class="card-title">Speedtest</h3>
        <div>
          <h2>Latency<span id="latency" style="padding-left: 10px;">0</span></h2>
        </div>
        <div>
          <h2>Download Speed<span id="dl_speed" style="padding-left: 10px;color: aqua;">0</span></h2>
        </div>
        <div>
          <h2>Upload Speed<span id="ul_speed" style="padding-left: 10px;color: aqua;">0</span></h2>
        </div>
        <form id="emit" method="POST" action="#">
          <input type="submit" class="btn btn-primary" value="RUN SPEED TEST">
        </form>
      </div>
    </div>
    <div><canvas id="chart" height="200"></canvas></div>
  </div>
  <div>
    <h2 id="transport">(connecting)</h2>
  </div>

  <h2>Receive:</h2>
  <div><p id="log"></p></div>

  <script src="/static/bootstrap.bundle.min.js">
  </script>
</body>
</html>


